.App {
  text-align: center;
}

tr,th,td{
  
  border : 1px solid lightgrey;
  padding :5px 10px
}

table{
  margin: 20px auto;
}
.controls{
    display: flex;
    padding:20px;
    justify-content: center;
}
.controls>div{
  margin: 10px;
}
form{
  padding: 20px;
}
input{
  padding:5px 10px ;
  font-size: 15px; 
}
form > div{
  padding: 10px;
}